body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
}

a {
  text-decoration: none;
  color: gray;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-menubar {
  background-color: black;
}

.container-fluid {
  justify-self: flex-start;
  align-self: center;
  width: 1170px;
  height: 100%;
}

.flex-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

.top-menu {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-left: 1px solid white;
  color: white;
}

.icon-stack {
  height: 16px;
  justify-self: flex-start;
  align-self: flex-start;
  margin-top: 11px;
  gap: 14px;
  flex-grow: 0;
}

.icon-stack i {
  font-size: 16px;
  color: gray;
}

.span-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-grow: 0;
}

.spaced-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: flex-start;
  align-items: center;
  gap: 11.5px;
  flex-grow: 0;
}

.sign-lang {
  width: 164px;
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  gap: 3.9px;
  color: gray;
  text-transform: uppercase;
}

.sign-in .material-icons {
  font-size: 18px;
  align-self: center;
  color: gray;
}

.sign-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: inherit;
}

.sign-text {
  padding-top: 2.75px;
  word-spacing: 0.5px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat";
}

.sign-separator {
  width: 2px;
  height: 19px;
  border-left: 2px solid #666;
  align-self: center;
  margin-top: 2px;
}

.lang {
  justify-self: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: inherit;
}

.lang .material-icons {
  font-size: 19px;
  align-self: center;
  color: gray;
}

#down {
  width: 15px;
  font-size: 19px;
  padding-top: 2px;
}

#eng {
  padding-left: 4px;
  padding-top: 1.7px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat";
}

.main-menu {
  background-image: url("./assets/main-menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.header-menu {
  border-left: 1px solid white;
}

.backdrop {
  background-color: rgba(33, 33, 33, 0.7);
  z-index: 10;
}

.nav-bar {
  height: 71px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: transparent;
  z-index: 20;
}

.nav-logo {
  font-size: 23px;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 2px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 14px;
  justify-self: flex-start;
}

.navbar-ul {
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  margin-top: 26px;
  margin-left: 109px;
  margin-bottom: 0;
  padding: 0;
  height: 40px;
  justify-self: flex-start;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.navbar-li {
  display: inline;
  height: 100%;
  margin-right: 11.5px;
}

.header-anchors {
  text-decoration: none;
  height: 100%;
  color: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-anchors .material-icons {
  font-size: 18px;
}

.header-anchors:hover {
  border-bottom: 4.5px solid #ff4081;
}

.home-active {
  border-bottom: 4.5px solid #ff4081;
}

.anchor-heads {
  margin-right: 7px;
  padding-left: 13px;
}

.header-icons {
  justify-self: flex-end;
  margin-top: 20px;
  margin-right: 13px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
}

.header-icons .material-icons {
  margin-top: 0.5px;
}

.header-separator {
  width: 1px;
  height: 30px;
  border-left: 1px solid #b4b4b4;
  justify-self: center;
  align-self: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 20;
  color: white;
  width: 100%;
}

.title > h4 {
  font-size: 21px;
  line-height: 27px;
  color: inherit;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 210.5px;
  margin-left: 517px;
  margin-bottom: 11.5px;
}

.title > h1 {
  width: 848px;
  font-size: 43px;
  line-height: 51.5px;
  text-transform: uppercase;
  color: inherit;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  margin: 0 0;
  margin-left: 164px;
}

.title-button {
  width: 172.5px;
  margin-left: 500px;
  margin-top: 30px;
  margin-bottom: 80px;
  border: none;
  border-radius: 28px;
  color: white;
  background-color: #303f9f;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 42px;
  font-weight: 400;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.title-button:hover {
  box-shadow: 2px 0px 10px 4px rgba(0, 0, 255, 0.4);
}

.author-comment {
  width: 100%;
  flex-direction: column;
  z-index: 20;
}

.author {
  width: 100%;
  flex-direction: column;
}

#henry {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 559px;
  margin-bottom: 14px;
}

.author-name {
  color: inherit;
  margin: 0;
  margin-left: 540px;
  margin-bottom: 2px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 22px;
  font-family: "Montserrat";
  text-align: center;
}

.date {
  font-size: 12px;
  line-height: 24px;
  color: inherit;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin: 0;
  margin-left: 524px;
}

.date > span {
  letter-spacing: 1px;
  margin-right: 7px;
}

.title-comment {
  width: 100%;
  margin-top: 28px;
  margin-bottom: 64px;
}

.cl-span {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 19px;
  color: inherit;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}

.com-lik {
  margin-right: 1px;
}

#com-num {
  margin-right: 26px;
}

.title-comment .material-icons {
  font-size: 16px;
  margin-right: 6.5px;
}

#comment-icon {
  margin-left: 465px;
}

.sort-box-menu {
  background-color: white;
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.3);
}

.sort-box {
  height: 65px;
  width: 100%;
  gap: 21px;
  padding-top: 14px;
}

#sort-box-span {
  font-size: 12px;
  line-height: 34px;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.sort-button-box {
  gap: 15px;
}

.sort-button-box > button {
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat";
  text-transform: uppercase;
  padding: 9px 29px 6px 26px;
  color: #000000;
  background-color: #f5f5f5;
  border-radius: 19px;
  border: none;
}

.sort-button-box > button:hover {
  color: #3f51b5;
  border: 1px solid #3f51b5;
  background-color: transparent;
}

.active-button {
  padding: 8px 29px 6px 26px !important;
  color: #3f51b5 !important;
  border: 1px solid #3f51b5 !important;
  background-color: transparent !important;
}
