@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
}

body * {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: gray;
}

button {
  background-color: transparent;
  border: none;
  width: fit-content;
  padding: 0%;
  margin: 0%;
}

.pasco-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-menubar {
  background-color: black;
}

.container-fluid-pasco {
  justify-self: flex-start;
  align-self: center;
  width: 1170px;
  height: 100%;
}

.flex-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

.top-menu {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-left: 1px solid white;
  color: white;
}

.icon-stack {
  height: 16px;
  justify-self: flex-start;
  align-self: flex-start;
  margin-top: 11px;
  gap: 14px;
  flex-grow: 0;
}

.icon-stack i {
  font-size: 16px;
  color: gray;
}

.span-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-grow: 0;
}

.spaced-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: flex-start;
  align-items: center;
  gap: 11.5px;
  flex-grow: 0;
}

.sign-lang {
  width: 164px;
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  gap: 3.9px;
  color: gray;
  text-transform: uppercase;
}

.sign-in .material-icons {
  font-size: 18px;
  align-self: center;
  color: gray;
}

.sign-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: inherit;
}

.sign-text {
  padding-top: 2.75px;
  word-spacing: 0.5px;
  font-size: 12px;
  font-weight: 600;
}

.sign-separator {
  width: 2px;
  height: 19px;
  border-left: 2px solid #666;
  align-self: center;
  margin-top: 2px;
}

.lang {
  justify-self: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: inherit;
}

.lang .material-icons {
  font-size: 19px;
  align-self: center;
  color: gray;
}

#down {
  width: 15px;
  font-size: 19px;
  padding-top: 5px;
}

#eng {
  padding-left: 4px;
  padding-top: 1.7px;
  font-size: 12px;
  font-weight: 600;
}

.main-menu {
  background-image: url("./assets/main-menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.header-menu {
  border-left: 1px solid white;
}

.main-backdrop {
  background-color: rgba(33, 33, 33, 0.7);
  z-index: 10;
}

.nav-bar {
  height: 71px;
  width: 100%;
  background: transparent;
  z-index: 20;
}

.nav-logo {
  font-size: 23px;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 2px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 14px;
  justify-self: flex-start;
}

.navbar-ul {
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  margin-top: 26px;
  margin-left: 109px;
  margin-bottom: 0;
  padding: 0;
  height: 40px;
  justify-self: flex-start;
  flex-grow: 1;
}

.navbar-li {
  display: inline;
  height: 100%;
  margin-right: 11.5px;
}

.header-anchors {
  text-decoration: none;
  height: 100%;
}

.header-anchors .material-icons {
  font-size: 18px;
}

.header-anchors:hover {
  border-bottom: 4.5px solid #ff4081;
}

.home-active {
  border-bottom: 4.5px solid #ff4081;
}

.anchor-heads {
  margin-right: 7px;
  padding-left: 13px;
}

.header-icons {
  justify-self: flex-end;
  margin-top: 20px;
  margin-right: 13px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
}

.header-icons .material-icons {
  margin-top: 3px;
  color: white;
}

.header-separator {
  width: 1px;
  height: 30px;
  border-left: 1px solid #b4b4b4;
  justify-self: center;
  align-self: center;
}

#shift-left {
  margin-right: 2.25px;
}

.pasco-title {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 20;
}

.pasco-title > h4 {
  font-size: 21px;
  line-height: 27px;
  color: inherit;
  font-weight: 400;
  text-align: center;
  margin-top: 210.5px;
  margin-left: 517px;
  margin-bottom: 11.5px;
}

.pasco-title > h1 {
  width: 848px;
  font-size: 43px;
  line-height: 51.5px;
  text-transform: uppercase;
  color: inherit;
  font-weight: 900;
  text-align: center;
  margin: 0 0;
  margin-left: 164px;
}

.pasco-title > button {
  width: 172.5px;
  margin-left: 500px;
  margin-top: 30px;
  margin-bottom: 78.5px;
  border: none;
  border-radius: 28px;
  color: white;
  background-color: #303f9f;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 45px;
  font-weight: 400;
  text-transform: uppercase;
}

.pasco-title > button:hover {
  box-shadow: 2px 0px 10px 4px rgba(0, 0, 255, 0.4);
}

.author-comment {
  width: 100%;
  flex-direction: column;
  z-index: 20;
}

.author {
  width: 100%;
  flex-direction: column;
}

#henry {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 559px;
  margin-bottom: 11px;
}

.author-name {
  color: inherit;
  margin: 0;
  margin-left: 540px;
  margin-bottom: 1px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 22px;
  text-align: center;
}

.date {
  font-size: 12px;
  line-height: 24px;
  color: inherit;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-left: 524px;
}

.date > span {
  letter-spacing: 1px;
  margin-right: 7px;
}

.title-comment {
  width: 100%;
  margin-top: 28px;
  margin-bottom: 64.5px;
}

.cl-span {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 19px;
  color: inherit;
  font-weight: 400;
  text-align: center;
}

.com-lik {
  margin-right: 1px;
}

#com-num {
  margin-right: 26px;
}

.title-comment .material-icons {
  font-size: 16px;
  margin-right: 6.5px;
}

#comment-icon {
  margin-left: 465px;
}

.sort-box-menu {
  background-color: white;
  box-shadow: 0px 0px 0px 1px rgba(221, 221, 221, 1);
}

.sort-box {
  height: 46px;
  width: 100%;
  gap: 21px;
  padding-top: 14px;
}

#sort-box-span {
  font-size: 12px;
  line-height: 34px;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-button-box {
  gap: 15px;
}

.sort-button-box > button {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 9px 29px 6px 26px;
  color: #000000;
  background-color: #f5f5f5;
  border-radius: 19px;
  border: none;
}

.sort-button-box > button:hover {
  color: #3f51b5;
  border: 1px solid #3f51b5;
  background-color: transparent;
}

.sort-button-box .active-button {
  padding: 8px 29px 6px 26px;
  color: #3f51b5;
  border: 1px solid #3f51b5;
  background-color: transparent;
}

.art-sid-section {
  background-color: #f5f5f5;
  margin-top: 0.5px;
}

.art-sid-section a {
  color: #000000;
}

.article-side {
  width: 100%;
  padding-top: 9px;
  padding-left: 2px;
  position: relative;
}

.nine-articles {
  flex-basis: 820px;
  flex-grow: 0;
  flex-shrink: 0;
}

.article1 {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.article1-top {
  width: 100%;
  height: 422px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("./assets/articles/article1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.article1-top #play-button {
  font-size: 60px;
  color: white;
}

.article1-top #play-button:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
}

.article1-backdrop {
  width: 100%;
  height: 42%;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2612395299916842) 50%,
    rgba(0, 0, 0, 0.4096989137451855) 100%
  );
  z-index: 10;
  color: white;
}

.articles-lik-com {
  width: 100%;
  margin: 0;
  margin-bottom: 16.5px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles-lik-com .acl-lifetext {
  margin-left: 18px;
  font-size: 12px;
  font-weight: 400;
}

.articles-lik-com a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.articles-lik-com a span[class="material-icons"] {
  font-size: 17px;
}

.articles-lik-com a span[class="cl-text7"] {
  margin-left: 6.5px;
  margin-right: 19px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
}

.articles-lik-com a span[class="cl-text15"] {
  margin-left: 4.5px;
  margin-right: 18px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
}

.article1-bottom {
  width: 100%;
  color: black;
}

.art1-content {
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.art1-content :nth-child(1) {
  margin: 0;
  margin-top: 14px;
  margin-left: 19.5px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.3px;
  word-spacing: 0.6px;
}

.art1-content :nth-child(1):hover {
  color: #3f51b5;
}

.art1-content :nth-child(2) {
  width: 775px;
  margin: 6px 0px 13px 19px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 26px;
  word-spacing: 0.25px;
  font-family: "Open Sans", sans-serif;
}

.art1-author {
  color: #000000;
  padding: 20.5px 0px 20.5px 19.5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.art1-author > span {
  flex-grow: 1;
}

#art1-henry {
  width: fit-content;
  margin: 0%;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 25px;
}

#art1-date {
  width: fit-content;
  margin: 0%;
  color: #212121;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 23px;
}

.art1-author .art1-time {
  margin-left: 6.5px;
}

.art1-author > img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.art1-author > button i[aria-hidden="true"] {
  padding-top: 0.55px;
  margin-right: 21px;
  font-size: 21.5px;
}

.art1-author > button:hover i[aria-hidden="true"] {
  font-size: 24px;
}

.articles {
  width: 100%;
  height: 165px;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 1.5px;
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.background-props {
  height: 165px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto auto;
  overflow-x: hidden;
  z-index: 1;
}

#article2-left {
  background-image: url("./assets/articles/article2.png");
}

.articles-left {
  flex-basis: 260px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.articles-left > button span[class="material-icons"] {
  font-size: 47px;
  color: white;
}

.articles-left > button:hover span[class="material-icons"] {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
}

.articles-left-backdrop {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2612395299916842) 50%,
    rgba(0, 0, 0, 0.4096989137451855) 100%
  );
  z-index: 10;
  color: white;
}

.articles-lik-com .articles-insp {
  margin-left: 18px;
  padding-top: 2px;
  font-size: 12px;
  font-weight: 400;
}

.articles div.articles-lik-com a span[class="cl-text7"] {
  padding-top: 1.5px;
}

.articles div.articles-lik-com a span[class="cl-text15"] {
  padding-top: 1.5px;
}

.articles-right {
  width: 560px;
  height: 100%;
  color: black;
}

.articles-content {
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.articles-content :nth-child(1) {
  margin: 0;
  margin-top: 9.5px;
  padding-left: 18.5px;
  font-size: 16.5px;
  font-weight: 700;
  letter-spacing: 0.09px;
}

.articles-content :nth-child(1):hover {
  color: #3f51b5;
}

.articles-content :nth-child(2) {
  width: 95%;
  margin: 8px 0px 15px;
  padding-left: 18px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.8px;
  word-spacing: 0.7px;
  line-height: 21px;
  font-family: "Open Sans", sans-serif;
}

.articles-author {
  padding: 10.5px 0px 11px 21px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.articles-author > span {
  flex-grow: 1;
}

.articles-author .articles-auth-name {
  width: fit-content;
  margin: 0%;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}

.articles-author .articles-date {
  width: fit-content;
  margin: 0%;
  color: #212121;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 22px;
}

.articles-author .articles-time {
  margin-left: 6.5px;
}

.articles-author > img {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  border-radius: 50%;
}

.articles-author > button i[aria-hidden="true"] {
  padding-top: 1px;
  margin-right: 21px;
  font-size: 21.5px;
}

.articles-author > button:hover i[aria-hidden="true"] {
  font-size: 24px;
}

#article3-left {
  background-image: url("./assets/articles/article3.png");
}

#article4 {
  margin-top: 19.5px;
}

#article4 .articles-content :nth-child(1) {
  margin-top: 8.5px;
}

#article4 .articles-content :nth-child(2) {
  margin-top: 9px;
  margin-bottom: 14.5px;
}

#article4 .articles-author > span {
  padding-bottom: 1px;
}

#article4 .articles-author .articles-date {
  padding-top: 1px;
  line-height: 21px;
}

#article4 .articles-author .articles-auth-name {
  padding-top: 1px;
}

#article4-left {
  background-image: url("./assets/articles/article4.png");
}

.verticle-articles {
  gap: 19.5px;
  margin-top: 19px;
  background-color: #f5f5f5;
}

.verticle-article {
  flex-basis: 260px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  border-radius: 5px;
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.verticle-article div.background-props {
  border-bottom-left-radius: unset;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: auto auto;
}

#article567 div.verticle-article .articles-lik-com {
  margin-bottom: 12px;
}

#article567 div.articles-lik-com a span[class="material-icons"] {
  padding-top: 1px;
  font-size: 17px;
}

#article567 div.articles-lik-com .articles-insp {
  padding-top: 3px;
}

#article567 .articles-left-backdrop a span[class="cl-text7"] {
  padding-top: 2px;
}

#article567 .articles-left-backdrop a span[class="cl-text15"] {
  padding-top: 2px;
}

.verticle-articles-left {
  width: 100%;
  color: white;
  flex-basis: 161px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.verticle-articles-left > button span[class="material-icons"] {
  font-size: 47px;
  color: white;
}

.verticle-articles-left > button:hover span[class="material-icons"] {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
}

#article5-left {
  background-image: url("./assets/articles/article5.png");
}

#article567 div.art1-content :nth-child(1) {
  margin: 0;
  margin-top: 12px;
  margin-left: 19.5px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 23px;
}

#article567 div.art1-content :nth-child(2) {
  max-width: 222px;
  height: 84px;
  margin: 7.5px 0px 24.5px 19px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 21px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

#article567 div.art1-author {
  padding-top: 15px;
  padding-bottom: 20px;
}

div.verticle-article div.art1-author span {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5.5px;
}

div.verticle-article div.art1-author a[class="articles-authors"] {
  width: fit-content;
  padding-top: 2px;
  margin: 0%;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

div.verticle-article div.art1-author p[class="verticle-date"] {
  width: fit-content;
  margin: 0%;
  color: #212121;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

#article567 div.art1-author > button i[aria-hidden="true"] {
  margin-top: 21.5px;
}

#article6-left {
  background-image: url("./assets/articles/article6.png");
}

#article7-left {
  background-image: url("./assets/articles/article7.png");
}

.article7-buttons {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article7-buttons button {
  width: 36px;
  height: 36px;
  margin-left: 10.5px;
  margin-right: 9.5px;
  background-color: white;
}

.article7-buttons button > span {
  padding-top: 3px;
  font-size: 24px;
  color: #3f51b5;
}

#articles89 {
  margin-top: 20px;
}

#articles89 .verticle-article {
  flex-basis: 400.25px;
}

#articles89 div.verticle-articles-left {
  flex-basis: 300px;
}

#articles89 div.articles-lik-com {
  margin-bottom: 16px;
}

#articles89 div.articles-lik-com span[class="cl-text7"] {
  padding-bottom: 2px;
}

#articles89 div.articles-lik-com span[class="cl-text15"] {
  padding-bottom: 1px;
}

#articles89 .art1-content :nth-child(1) {
  margin-top: 13.5px;
  font-size: 18px;
}

#articles89 .art1-content :nth-child(2) {
  width: 95%;
  font-size: 15.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

#articles89 .art1-author {
  padding-top: 15px;
  padding-bottom: 15px;
}

#articles89 .art1-author > span {
  padding-bottom: 2px;
}

#article8-left {
  background-image: url("./assets/articles/article8.png");
}

#article9-left {
  background-image: url("./assets/articles/article9.png");
}

.read-more > div {
  width: 100%;
  margin: 43px 0px;
}

.read-more > div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  color: #303f9f;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.read-more .more-button {
  width: 40.5px;
  height: 40.5px;
  padding-top: 3px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.read-more .more-button span[class="material-icons"] {
  color: #3f51b5;
  font-size: 23px;
}

.right-sidebar {
  height: 2328.3px;
  flex-basis: 41.17%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 40.5px;
  margin-top: 21.5px;
  background-color: white;
  overflow: visible;
  z-index: 20;
}

.right-sidebar .content-bar {
  margin-left: 37.5px;
  margin-top: 24px;
  width: 56.5%;
  height: 300px;
}

.sidebar-sections {
  width: 100%;
  margin-bottom: 25px;
}

.search-bar {
  margin-left: 3px;
  padding: 3px 0px;
  background-color: #f5f5f5;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar:hover {
  border: 1px solid #ff4081;
}

.search-bar > input {
  padding: 7px 2px 8px 17.5px;
  border-radius: 50px;
  background-color: transparent;
  border: none;
  flex-grow: 1;
  -webkit-appearance: none;
}

.search-bar > input:active,
input:hover,
input:focus {
  border: none;
  outline: none;
}

.search-bar > input::placeholder {
  font-size: 17px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.34);
}

.search-bar > button {
  width: 35px;
  height: 35px;
  margin-right: 5.5px;
  border-radius: 50px;
  flex-grow: 0;
  border: none;
  background-color: #ff4081;
}

.search-bar > button .material-icons {
  margin-top: 3px;
  font-size: 24px;
  color: white;
}

.bar-categories {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #000000;
}

.bar-headings {
  color: #3f51b5;
  font-size: 19.5px;
  text-transform: uppercase;
  margin: 0%;
  padding-bottom: 4.5px;
  border-bottom: 2px solid #2962ff;
}

.bar-categories ul {
  list-style: none;
  margin: 0;
  margin-top: 3px;
  padding: 0;
}

.bar-categories > ul > li > a {
  padding: 9px 0px 10.85px;
  border-bottom: 1px solid rgba(55, 47, 42, 0.1);
}

.bar-categories > ul > li > a span {
  color: black;
  font-size: 14.5px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.bar-categories > ul > li > a :nth-child(1) {
  flex-grow: 1;
}

.bar-categories > ul > li > a :nth-child(2) {
  font-weight: 700;
}

.bar-subscribe {
  padding-top: 3.5px;
}

.bar-subscribe h3.bar-headings {
  font-size: 18.5px;
  margin-left: 2px;
}

.bar-subscribe > form,
div.bar-divider {
  margin-top: 10px;
}

.bar-subscribe > form {
  flex-direction: column;
  gap: 10.5px;
}

.bar-subscribe > form > label,
input {
  color: #000000;
  font-size: 16.5px;
  font-family: "Open Sans", sans-serif;
}

.bar-subscribe > form > input {
  width: 92.5%;
  margin-left: 2px;
  padding: 9px 0px 11.85px 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.bar-subscribe > form > input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 500;
}

.bar-subscribe > form > button {
  width: 99%;
  margin-left: 2px;
  padding: 11px 0px 13px 12px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #3f51b5;
  border-radius: 5px;
}

.bar-subscribe > div.bar-divider {
  padding-left: 2px;
}

.bar-subscribe > div.bar-divider > span {
  margin: 0px 8.5px 0px 4.5px;
  padding-top: 1px;
  color: #000000;
  font-size: 16.5px;
  font-family: "Open Sans", sans-serif;
}

.bar-subscribe > div.bar-divider > hr {
  height: 1px;
  border: none;
  margin-top: 13.5px;
  flex-grow: 1;
  background-color: #000000;
}

.bar-subscribe > div.bar-icon-stack {
  margin-top: 18px;
  margin-left: 3px;
  display: flex;
  align-items: center;
  gap: 10.5px;
}

.bar-subscribe > div.bar-icon-stack > a {
  width: 35.5px;
  height: 35.5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-subscribe > div.bar-icon-stack > :nth-child(1) {
  padding-top: 1px;
  background-color: #3b5999;
}

.bar-subscribe > div.bar-icon-stack > :nth-child(2) {
  background-color: #55acee;
}

.bar-subscribe > div.bar-icon-stack > :nth-child(3) {
  background-color: #4c75a3;
}

.bar-subscribe > div.bar-icon-stack > :nth-child(4) {
  background-color: #ff2e56;
}

.bar-subscribe > div.bar-icon-stack > :nth-child(5) {
  background-color: #34465d;
}

.bar-subscribe > div.bar-icon-stack > :nth-child(6) {
  background-color: #ea4c89;
}

.bar-subscribe > div.bar-icon-stack i[aria-hidden="true"] {
  color: white;
  font-size: 17.5px;
  font-weight: 500;
}

.bar-post-widget {
  padding-top: 19px;
}

.bar-post-widget h3.bar-headings {
  font-size: 18.5px;
  margin-left: 2px;
}

.bar-buttongrp {
  margin-top: 18.5px;
  margin-left: 2px;
  display: flex;
}

.bar-buttongrp > button {
  width: 50%;
  padding: 12.5px 0px 10.5px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.content-bar .bar-buttongrp :nth-child(1) {
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #3f51b5;
}

.content-bar .bar-buttongrp :nth-child(2) {
  color: #3f51b5;
  border: 1px solid #3f51b5;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: transparent;
}

.content-bar .bar-buttongrp :nth-child(2):hover {
  color: white;
  border: none;
  background-color: #3f51b5;
}

.post-widgets {
  padding-top: 5.5px;
}

.bar-tab-posts {
  color: #000000;
  gap: 14px;
  padding: 10px 0px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bar-tab-posts div.bar-post-image {
  width: 161px;
  height: 80px;
  margin-top: 5px;
  margin-left: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bar-post-widget #pw-image1 {
  background-image: url("./assets/widget-posts/tab-post1.png");
}

.bar-post-widget #pw-image2 {
  background-image: url("./assets/widget-posts/tab-post2.png");
}

.bar-post-widget #pw-image3 {
  background-image: url("./assets/widget-posts/tab-post3.png");
}

.bar-post-widget #pw-image4 {
  background-image: url("./assets/widget-posts/tab-post4.png");
}

.bar-post-details span[class="bar-post-date"] {
  color: #000000;
  flex-grow: 1;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

.bar-post-details span[class="material-icons"] {
  font-size: 15px;
  color: #3f51b5;
}

.bar-post-content {
  font-size: 14px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.bar-post-com :nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.1);
}
